.complete-btn {


    background:#22C55E;

    color:white;

    border:none;

    padding:10px 15px;

    border-radius:10px;

    margin-right:10px;

    cursor:pointer;

}



.complete-btn:hover {

    background:#16A34A;

}




.complete-btn.undo {

    background:#64748B;

}



.task-card.completed {

    opacity:.65;

}



.task-card.completed h3 {

    text-decoration:line-through;

}